
.cardItem{
    display: 'flex';
     justify-content: 'space-between';
      background-color: 'white';
}



@media screen and (max-width: 500px){
    .cardItem{
        display: 'flex';
        flex-direction: column;
         justify-content: 'space-between';
          background-color: 'white';
          font-size: 0.6rem;
    }
} 
