.header{
    
    width: 100%;
    font-size: 2rem;
}

.search{
    border: 2px solid blue;
    border-radius: 2px;
    padding : 4px 15px;
    font-size: 0.8rem;
    margin-top: 5px;
    width: 40%;
    
}
.search-wrapper{
    padding-left: 20vw;
}


.text{
    float: left;
}
.text-O{
    color: red;
}
.text-A{
    color:blue;
}
.text-Z{
    color: blue;
}


.paragraph{
    font-size: 3rem;
    margin: 10vh 10vw;
    color: white;
}
.Navigator{
    flex: 1;
}
.para-indicator{
    background-color: black;
    padding: 5px;
    color: white;
    margin: 10vh 10vw;
}

.info-card{
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Home.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    box-shadow: 18px 10px 18px 10px rgb(187, 182, 182);
    margin-top: 30px;
}

.head-info{
    flex: 2;
}


@media screen and (max-width: 500px){
    body{
        font-size: 0.7rem;
    }
    .header{
        display: none;
    }
    .Navigator{
        flex: 1;
        font-size: 0.8rem;
        float: center;
    }
    .info-card{
        /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Home.jpg'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: cover;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        height: auto;
        box-shadow: 18px 10px 18px 10px rgb(187, 182, 182);
        margin-top: 30px;
    }
    .paragraph{
        font-size: 2.3rem;
        margin: 5vh 5vw;
        color: white;
    }
    .head-info{
        flex: 1;
    }
    
   
}