.Foot-Wrapper{
    font-size: 1.5rem;
    padding:'10px';
    background-color: 'black';
     justify-content: 'space-between'
}


@media screen and (max-width: 500px){
    .Foot-Wrapper{
        font-size: 0.5rem;
        padding:'5px';
        background-color: 'black';
         justify-content: 'space-between';
         display: flex;
         flex-direction: column;
    }
    .para-foot{
        font-size: 0.6rem;
    }
}