#nav-items{
    background-color: blue;
    padding: 8px;
    font-family: 'Tangerine';
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 70%;
    float: right;
    margin: 10px 10px;
    border-radius: 5px;
}
.Navigator{
    flex: 1;
    width: auto;
}

@media screen and (max-width: 500px){
    .Navigator{
        flex:1;
        width: auto;
    }
    #nav-items{
        background-color: blue;
        padding: 8px;
        font-family: 'Tangerine';
        font-weight: bolder;
        font-size: 1.5rem;
        color: white;
        width: 50%;
        text-align: center;
        padding: 10px;
        float: center;
        margin: 1vh;
        border-radius: 5px;
    }
}